@use "mixins" as m;

.product__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 3vh;
  @include m.responsive(tablet) {
    width: 47%;
  }
  @include m.responsive(desktop) {
    width: 31%;
  }
}

picture {
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5%;
  }
}

.pic__cont {
  position: relative;
}

.btn__addTo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 25%);
}
