@use "mixins" as m;

.product__grid {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  margin-block: calc(m.rem(33) - 2vh) 5vh;
  @include m.responsive(tablet) {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-inline-end: 3vw;
  }
  @include m.responsive(desktop) {
    justify-content: flex-start;
    gap: 2.22vw;
    margin-block-end: 7vh;
  }
}

.no__results {
  text-align: center;
  color: var(--red);
}
