@use "mixins" as m;

.product__grid {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  margin-block-start: calc(m.rem(33) - 2vh);
  @include m.responsive(tablet) {
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    margin-inline-end: 3vw;
  }
}

.no__results {
  text-align: center;
  color: var(--red);
}
